---
const {anchorText, anchorHref} = Astro.props;

---

<a href={anchorHref} class='nav-anchor material-symbols-sharp' >
    {anchorHref == 'cart' ? <span class="material-symbols-sharp">shopping_cart</span> : anchorText}
</a>

<script>
    const anchors = document.querySelectorAll('.nav-anchor') as HTMLAnchorElement;

    anchors.forEach(anchor=>{
        anchor!.onmouseover = (evt) => {
          const hoverEvent = new Event('nav-anchor-mouseover');
    
          const { paddingLeft, paddingRight } = window.getComputedStyle(anchor);
    
          hoverEvent.anchorInfo = {
            left: evt.target.offsetLeft,
            top: evt.target.offsetTop,
            width: evt.target.offsetWidth,
            paddingInline: parseFloat(paddingLeft) + parseFloat(paddingRight),
          };
    
          document.dispatchEvent(hoverEvent);
        };
    })
</script>