
---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ModelContainer from '../components/Model-container.astro';
import InneJustNu from "../components/Inne-just-nu.astro";
import '../components/styles/hero.css';

---

<Layout>
    <section class="flex flex-col items-center w-screen h-screen bg-bg-transparent md:px-[10vw] pt-[14vh]">
        <div class="z-50 w-[90vw] md:w-[70vw] h-full rounded-md px-5 pt-3">
            <h1 class="text-8xl md:text-9xl">Minns du <span class="text-secondary">k채nslan</span> av att sitta i din nya bil?</h1>
            <p class="text-3xl font-light text-on-bg-medium w-[80vw] mt-5">V채lkommen in och 책terupplev k채nslan.</p>
            <p class="mt-10 w-[50vw] md:w-[40vw] text-base text-on-bg-medium leading-7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, animi? Error quasi ratione dicta dolorem voluptatem! Ullam exercitationem reprehenderit at recusandae ut. Distinctio assumenda minima tempore, hic aperiam sunt suscipit sit esse ullam vel. Delectus exercitationem sunt velit accusamus aspernatur.</p>
        </div>
        <img class="absolute top-0 left-0 object-cover w-screen h-screen object-centers aspect-video " alt="Inside a car" src="inside.webp"/>
        <!-- <ModelContainer /> -->
    </section>
</Layout>

