* {
  /* outline: 1px solid red; */
}

section.container {
  --navbar-height: 0;
  position: relative;
  /* max-height: calc(100vh - (var(--navbar-height) + var(--golden-ratio) * 3em)); */
  padding: calc(var(--golden-ratio) * 1.5em);
  padding-top: calc(var(--navbar-height) + var(--golden-ratio) * 4em);
  min-height: 100vh;
  max-height: calc(100vh - (var(--navbar-height) + var(--golden-ratio) * 3em));
  /* width: 100%; */
  /* padding-inline: calc(var(--golden-ratio) * 1em); */
}

.filter-container {
  /* --original-position: 165px; */

  gap: calc(var(--golden-ratio) * 0.25em);
  position: sticky;
  top: var(--navbar-height);
  width: 100%;
}

.buttons-container {
  gap: calc(var(--golden-ratio) * 0.3em);
  height: calc(var(--golden-ratio) * 1.2em);
  padding-bottom: calc(var(--golden-ratio) * 0.6em);
}

hr {
  border: 1px solid var(--outline);
  width: 100%;
}

.tags-and-result-count-container {
  min-height: calc(var(--golden-ratio) * 1.4em);
  gap: calc(var(--golden-ratio) * 0.5em);
}
.tags-container {
  gap: calc(var(--golden-ratio) * 0.3em);
  flex-wrap: wrap;
}
.results-count {
  text-transform: uppercase;
  font-size: calc(var(--golden-ratio) * 0.4em);
  color: var(--on-bg-lightest);
}

.cars-container {
  /* width: 100%; */
  flex-wrap: wrap;
  gap: calc(var(--golden-ratio) * 1em);
  padding-block: calc(var(--golden-ratio) * 1em);
  overflow-y: auto;
  overflow-x: visible;
  /* z-index: 0; */
}
.cars-container::-webkit-scrollbar {
  display: none;
}

.card {
  flex-shrink: 0;
}

@media (min-width: 768px) {
  section.container {
  }
  .card-container {
    /* 2/4 minus .cars-container gap */
    width: calc(50% - (var(--golden-ratio) * 1em));
  }
}

@media (min-width: 1024px) {
  section.container {
    padding-inline: calc(var(--golden-ratio) * 5em);
    /* padding-inline: 16vw; */
  }
  .card-container {
    /* 1/4 minus .cars-container gap */
    width: calc(30% - (var(--golden-ratio) * 1.2em));
  }
  .cars-container {
  }
}

.addToCartButton {
  z-index: 100;
  background-color: transparent;
  color: var(--on-bg);
  border: none;
  cursor: pointer;

  opacity: 0;
  transition: opacity 0.1s ease-out, scale 0.1s ease-out;

  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}
.addToCartButton:active {
  scale: 0.9;
  opacity: 0.6 !important;
}
.addToCartContainer:hover .addToCartButton {
  opacity: 1;
}
