.btn {
  user-select: none;

  background: transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;

  padding-top: 0;
  padding-bottom: 0;
  color: var(--on-bg-light);
  outline: none;
  padding-inline: calc(var(--golden-ratio) * 0.6em);
  padding-block: calc(var(--golden-ratio) * 0.1em);
  color: var(--on-bg-light);

  font-size: 1em;

  transition: color 0.15s ease-out, border-color 0.1s ease-out;
}

.btn:hover,
.btn:hover ~ #search-bar-symbol {
  color: var(--on-bg-medium);
  border-bottom-color: var(--accent);
}
.btn:focus,
.btn:focus ~ #search-bar-symbol {
  color: var(--on-bg);
  border-bottom-color: var(--tertiary);
}

.search-bar {
  flex: 1;
  min-width: calc(var(--golden-ratio) * 5em);
  position: relative;
}
input[type='search'] {
  height: calc(var(--golden-ratio) * 1.4em);
  width: 100%;
}
input[type='search']::placeholder {
  all: unset;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 200;
  line-height: normal;
}
#search-bar-symbol {
  position: absolute;
  top: calc(var(--golden-ratio) * 0.32em);
  right: calc(var(--golden-ratio) * 0.3em);
  color: var(--on-bg-light);
  font-size: calc(var(--golden-ratio) * 0.75em);

  transition: color 0.15s ease-out;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  position: relative;
  padding-left: 31px;
  cursor: pointer;
  display: inline-block;
}

input[type='checkbox'] + label:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 4px;
  @apply w-6 h-6;
  @apply rounded-sm;
  @apply bg-bg-transparent-medium;
}

/* Style the custom checkbox when checked */
input[type='checkbox']:checked + label:before {
  @apply bg-primary;
}

/* Add a checkmark when checked */
input[type='checkbox']:checked + label:after {
  content: '';
  position: absolute;
  left: 9px;
  top: 10px;
  @apply w-2 h-2;
  @apply bg-on-bg-lightest;
  @apply rounded-full;
}

.dropdown {
  transition: max-height 0.15s ease-in-out, color 0.15s ease-out,
    border-color 0.15s ease-out;
}
.dropdown:after {
  content: '';
  position: absolute;
  top: calc(var(--golden-ratio) * 0.5em);
  right: calc(var(--golden-ratio) * 0.5em);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  border-top: 4px solid var(--on-bg-light);
  pointer-events: none;

  transition: transform 0.45s ease-out;
}

.dropdown:hover {
  overflow-y: auto;
  color: var(--on-bg);
  max-height: calc(
    var(--golden-ratio) * 10em
  ); /* Set an appropriate value to allow for expansion */
  @apply bg-surface;
  @apply rounded-xl;
}
.dropdown:hover:after {
  transform: rotate(-180deg);
}

.dropdown > * {
  user-select: none;
}
.drop-down-input-label-container {
  display: flex;
  align-items: center;
  padding-right: calc(var(--golden-ratio) * 1.3em);
  @apply py-1;
}
.drop-down-input-label-container label {
  flex: 1;
}
.drop-down-input-label-container label,
.drop-down-input-label-container input {
  cursor: pointer;
}

.tag-container {
  transition: max-width 0.15s ease-out; /*broken transition?*/
}

.tag {
  transition: border-color 0.25 ease-out, opacity 0.25s ease-out;
  cursor: pointer;
  padding-inline: calc(var(--golden-ratio) * 0.45em);
  overflow: hidden;
  border-bottom-color: var(--on-bg-lightest);
}

.tag-text {
  transition: color 0.25s ease-out;
  transition-delay: 0.1s;
  padding-right: calc(var(--golden-ratio) * 1em);

  color: var(--on-bg-light);
}
.tag-cross {
  transition: color 0.35s ease-in-out;
  color: var(--on-bg-light);
  /* padding-left: calc(var(--golden-ratio) * 1em); */
}
.tag:hover .tag-cross {
  color: var(--error);
}
.tag:hover {
  border-bottom-color: var(--error);
}
.tag:hover .tag-text {
  color: var(--error);
}
