.card-container {
  transition: opacity 0.5s ease-out;
}

.card-container:hover img {
  scale: 1.075;
}

.card img {
  transition: scale 0.15s ease-out;
}

.addToCartButton {
  background-color: transparent;
  color: var(--on-bg-light);
  border: none;
  cursor: pointer;

  opacity: 0;
  transition: color 0.1s ease-out, opacity 0.1s ease-out, scale 0.1s ease-out;

  position: absolute;
  bottom: 10%;
  left: 80%;
  right: 0;
}
.addToCartButton:active {
  scale: 0.9;
  opacity: 0.6 !important;
}
.addToCartButton:hover {
  color: var(--on-bg);
}

.card-container:hover .addToCartButton {
  opacity: 1;
}
