.card-container {
  transition: opacity 0.75s ease-in-out;
  width: 100%;
}

.card {
  /* max-width: calc(var(--golden-ratio) * 12em); */
  overflow: visible;
  /* gap: calc(var(--golden-ratio) * 0.6em); */

  aspect-ratio: 1 / 1;
}

.card img {
  z-index: 50;
  width: 100%;
  margin-bottom: calc(var(--golden-ratio) * 0.4em);
}

.card h4 {
  color: var(--on-bg);
  margin-bottom: calc(var(--golden-ratio) * 0.1em);
}

.card p {
  color: var(--on-bg-light);
}
