.card-container {
  transition: opacity 0.75s ease-in-out;

  display: flex;
  /* justify-content: center; */
}

.card {
  width: calc(var(--golden-ratio) * 10em);
  height: calc(var(--golden-ratio) * 10em);
  overflow: visible;
  /* gap: calc(var(--golden-ratio) * 0.6em); */

  /* aspect-ratio: 1 / 1; */
}

.card img {
  z-index: 50;
  width: 80%;
  margin-bottom: calc(var(--golden-ratio) * 0.4em);
}

.card h4 {
  color: var(--on-bg);
  margin-bottom: calc(var(--golden-ratio) * 0.1em);
}

.card p {
  color: var(--on-bg-light);
}
