.card-container {
  transition: opacity 0.75s ease-in-out;
}

.card {
  max-height: calc(var(--golden-ratio) * 14em);
  overflow: visible;
  /* gap: calc(var(--golden-ratio) * 0.6em); */
  max-width: 100%;

  aspect-ratio: 1 / 1;
}

.card img {
  width: 100%;
  margin-bottom: calc(var(--golden-ratio) * 0.4em);
}

.card h4 {
  color: var(--on-bg);
  margin-bottom: calc(var(--golden-ratio) * 0.1em);
}

.card p {
  color: var(--on-bg-light);
}
