@import url(navbar.css);
@import url(hero.css);

:root {
  --golden-ratio: 1.618;

  --bg: #0f0f0f;
  --on-bg: rgba(255, 255, 255, 0.9);
  --on-bg-medium: rgba(255, 255, 255, 0.76);
  --surface: #17191b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    transform: translate(-0.5px, -1px) rotate(-0.1deg);
  }
  20% {
    transform: translate(-1.5px, 0px) rotate(0.1deg);
  }
  30% {
    transform: translate(1.5px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(0.5px, -0.5px) rotate(0.1deg);
  }
  50% {
    transform: translate(-0.5px, 1px) rotate(-0.1deg);
  }
  60% {
    transform: translate(-1.5px, 0.5px) rotate(0deg);
  }
  70% {
    transform: translate(1.5px, 0.5px) rotate(-0.1deg);
  }
  80% {
    transform: translate(-0.5px, -0.5px) rotate(0.1deg);
  }
  90% {
    transform: translate(0.5px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(0.5px, -1px) rotate(-0.1deg);
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  height: 100vh;

  background-color: var(--bg);
  color: var(--on-bg);

  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

main {
  position: relative;
  padding-inline: calc(var(--golden-ratio) * 4em);
  height: 100%;
}

img {
  display: block;
}

/* Smaksak: vill inte cluttera med samma klass för varje heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 100;
  margin: 0;
  color: var(--on-bg);
}

h1 {
  text-transform: uppercase;
  font-size: calc(var(--golden-ratio) * 3.3em);
}

h3 {
  color: var(--on-bg-medium);
  font-size: calc(var(--golden-ratio) * 1.3em);
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  body {
    background: radial-gradient(at 40% top, #e6e6e6 30%, #808080 60%, #c7c7c7);
    background-attachment: fixed;
    overscroll-behavior: none;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
