header {
  z-index: -1;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  height: 50vh;
  word-break: break-word;
  box-sizing: border-box;
  /* margin-top: calc(var(--golden-ratio) * 8vw); */
  align-items: flex-end;
}

.title {
  font-family: 'Fjalla One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(var(--golden-ratio) * 6vw);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  padding-inline: calc(var(--golden-ratio) * 0.5em);
  color: white;
}

.subtitle {
  color: var(--on-bg-lightest);
  font-size: calc(var(--golden-ratio) * 3vw);
  font-style: normal;
  font-weight: 400;
  line-height: 7vw;
  padding-inline: calc(var(--golden-ratio) * 1em);

  text-transform: capitalize;
}

.hero-container {
  padding-top: calc(var(--golden-ratio) * 8.5em);
  height: 100vh;
  position: relative;
}

body {
  background: radial-gradient(
    at center top,
    var(--primary) 10%,
    var(--bg) 150%
  );
  background-position-y: -50vh;
  background-size: 100% 150vh;
}

/* Cut-out text effect */
/* svg {
  width: 100%;
}
.CTA {
  font-size: calc(var(--golden-ratio) * 1.2em);
  font-weight: 700;
  margin: auto;
  transition: all 0.2s ease-in-out;
}
.CTA rect {
  stroke: var(--primary);
  stroke-width: 2;

  rx: calc(var(--golden-ratio) * 0.1em);
  border-radius: calc(var(--golden-ratio) * 0.1em);
} */

@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  2.5% {
    transform: translate(-0.4px, -1.1px) rotate(-0.1deg);
  }
  5% {
    transform: translate(-1.4px, -0.1px) rotate(0.1deg);
  }
  7.5% {
    transform: translate(1.4px, 1.1px) rotate(0deg);
  }
  10% {
    transform: translate(0.3px, -0.3px) rotate(0.1deg);
  }
  12.5% {
    transform: translate(-0.2px, 0.55px) rotate(-0.1deg);
  }
  15% {
    transform: translate(-0.4px, 0.3px) rotate(0deg);
  }
  17.5% {
    transform: translate(0.4px, 0.3px) rotate(-0.1deg);
  }
  20% {
    transform: translate(-0.3px, -0.3px) rotate(0.1deg);
  }
  22.5% {
    transform: translate(0.3px, 0.55px) rotate(0deg);
  }
  25% {
    transform: translate(0.3px, -0.55px) rotate(-0.1deg);
  }
  27.5% {
    transform: translate(-0.2px, -0.55px) rotate(-0.1deg);
  }
  30% {
    transform: translate(-0.7px, -0.05px) rotate(0.1deg);
  }
  32.5% {
    transform: translate(0.7px, 0.55px) rotate(0deg);
  }
  35% {
    transform: translate(0.3px, -0.3px) rotate(0.1deg);
  }
  37.5% {
    transform: translate(-0.2px, 0.55px) rotate(-0.1deg);
  }
  40% {
    transform: translate(-0.7px, 0.3px) rotate(0deg);
  }
  42.5% {
    transform: translate(0.7px, 0.3px) rotate(-0.1deg);
  }
  45% {
    transform: translate(-0.3px, -0.3px) rotate(0.1deg);
  }
  47.5% {
    transform: translate(0.3px, 0.55px) rotate(0deg);
  }
  50% {
    transform: translate(0.3px, -0.55px) rotate(-0.1deg);
  }
  52.5% {
    transform: translate(-0.2px, -0.55px) rotate(-0.1deg);
  }
  55% {
    transform: translate(-0.7px, -0.05px) rotate(0.1deg);
  }
  57.5% {
    transform: translate(0.7px, 0.55px) rotate(0deg);
  }
  60% {
    transform: translate(0.15px, -0.15px) rotate(0.05deg);
  }
  62.5% {
    transform: translate(-0.1px, 0.275px) rotate(-0.05deg);
  }
  65% {
    transform: translate(-0.35px, 0.15px) rotate(0deg);
  }
  67.5% {
    transform: translate(0.35px, 0.15px) rotate(-0.05deg);
  }
  70% {
    transform: translate(-0.15px, -0.15px) rotate(0.05deg);
  }
  72.5% {
    transform: translate(0.15px, 0.275px) rotate(0deg);
  }
  75% {
    transform: translate(0.15px, -0.275px) rotate(-0.05deg);
  }
  77.5% {
    transform: translate(-0.1px, -0.275px) rotate(-0.05deg);
  }
  80% {
    transform: translate(-0.35px, -0.025px) rotate(0.05deg);
  }
  82.5% {
    transform: translate(0.35px, 0.275px) rotate(0deg);
  }
  85% {
    transform: translate(0.15px, -0.15px) rotate(0.05deg);
  }
  87.5% {
    transform: translate(-0.1px, 0.275px) rotate(-0.05deg);
  }
  90% {
    transform: translate(-0.35px, 0.15px) rotate(0deg);
  }
  92.5% {
    transform: translate(0.35px, 0.15px) rotate(-0.05deg);
  }
  95% {
    transform: translate(-0.15px, -0.15px) rotate(0.05deg);
  }
  97.5% {
    transform: translate(0.15px, 0.275px) rotate(0deg);
  }
  100% {
    transform: translate(0.15px, -0.275px) rotate(-0.05deg);
  }
}
.start-engine {
  animation: shake 1.5s ease-out;
  animation-iteration-count: 1;
}

#fake-model-container {
  /* margin-top: -55vh; */
  margin-block: auto;
  position: absolute;
  top: 0;
}
#model-container {
  margin-top: -100vh;
  width: 100vw;
  height: 200vh; /* to prevent lighting from going outside the box */
}

canvas {
  position: relative;
  pointer-events: none;
  z-index: -1;
  top: 35vh;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 428px) {
  body {
    background: radial-gradient(
      at center top,
      var(--primary) 10%,
      var(--bg) 140%
    );
  }
  header {
    /* margin-bottom: ; */
    align-items: center;
  }
}

@media (min-width: 724px) {
  body {
    background-position-y: 0;
    background-size: 100% 100%;
  }
  header {
    align-items: flex-start;
    margin-top: 0;
  }
  .title {
    margin-bottom: calc(var(--golden-ratio) * 0.1em);
    font-size: calc(var(--golden-ratio) * 3em);
  }
  .subtitle {
    font-size: calc(var(--golden-ratio) * 0.9em);
    padding-inline: calc(var(--golden-ratio) * 1.8em);
    line-height: calc(var(--golden-ratio) * 0.9em);
  }
}
@media (min-width: 768px) {
  body {
    background: radial-gradient(
      at center top,
      var(--primary) 10%,
      var(--bg) 100%
    );
  }
}
@media (min-width: 1024px) {
  body {
    background-attachment: fixed;
    overscroll-behavior: none;
    background: radial-gradient(
      at center top,
      var(--primary) 10%,
      var(--bg) 100%
    );
  }

  .title,
  .subtitle {
    text-align: center;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
