.cards-container {
  /* margin-block: calc(var(--golden-ratio) * 2.8em); */
  display: flex;
  flex-direction: row;

  gap: calc(var(--golden-ratio) * 2em);
  /* height: 80vh; */

  overflow-x: auto;
  box-sizing: content-box;
}
.cards-container::-webkit-scrollbar {
  display: none;
}

.card-container {
  min-width: 100vw;
}

.card {
  width: 70vw;
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .card-container {
    min-width: auto;
  }
  .cards-container {
    flex-direction: row;
    transform: translateX(0%);
    gap: 0;
    justify-content: center;
    margin-inline: calc(var(--golden-ratio) * 2em);
  }
  .card {
    width: 25vw;
  }
}
@media (min-width: 1460px) {
}
