.inne-just-nu {
  position: relative;
  top: -220vh;
  height: 300vh;
  width: 100vw;
  background-color: var(--surface-variant);
  padding-top: calc(var(--golden-ratio) * 6em);
  text-align: center;
}

.sticky-just-nu {
  position: sticky;
  top: 20vh;
}

.cards-container {
  margin-block: calc(var(--golden-ratio) * 2.8em);

  display: flex;
  flex-direction: row;

  gap: calc(var(--golden-ratio) * 2em);
  max-height: 80vh;

  overflow-x: auto;
  box-sizing: content-box;
}
.cards-container::-webkit-scrollbar {
  display: none;
}

.card {
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 100vw;
}

.CTA {
  margin-top: calc(var(--golden-ratio) * 0.5em);
  padding: calc(var(--golden-ratio) * 0.2em) calc(var(--golden-ratio) * 0.6em);
  border-radius: calc(var(--golden-ratio) * 0.05em);
  background-color: var(--primary);
  /* color: white; */
  font-size: calc(var(--golden-ratio) * 1em);
  /* font-weight: 600; */
  text-decoration: none;
  /* letter-spacing: 0.1em; */
  transition: all 0.2s ease-in-out;
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .cards-container {
    flex-direction: row;
    transform: translateX(0%);
    gap: 0;
    justify-content: center;
    margin-inline: calc(var(--golden-ratio) * 2em);
  }
  .card {
    min-width: 80%;
    max-width: 80%;
  }
}
@media (min-width: 1460px) {
}
