.inne-just-nu {
  position: relative;
  top: -220vh;
  z-index: -1;
  height: 300vh;
  width: 100vw;
  background-color: var(--surface-variant);
  padding-top: calc(var(--golden-ratio) * 6em);
  text-align: center;
}

.sticky-just-nu {
  position: sticky;
  top: 20vh;
}

.cards-container {
  margin-block: calc(var(--golden-ratio) * 2.8em);

  display: flex;
  flex-direction: row;

  gap: calc(var(--golden-ratio) * 2em);
  max-height: 80vh;

  overflow-x: auto;
  box-sizing: content-box;
}
.cards-container::-webkit-scrollbar {
  display: none;
}

.card {
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 100vw;
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .cards-container {
    flex-direction: row;
    transform: translateX(0%);
    gap: 0;
    justify-content: center;
    margin-inline: calc(var(--golden-ratio) * 2em);
  }
  .card {
    min-width: 80%;
    max-width: 80%;
  }
}
@media (min-width: 1460px) {
}
