.cards-container {
  padding: calc(var(--golden-ratio) * 1.5em);

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  scroll-snap-type: x mandatory;
  gap: 100vw;
}
.cards-container > div {
  flex: 0 0 100vw;
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
}
.cards-container::-webkit-scrollbar {
  display: none;
}
.card {
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  outline: none;
  background: none;
  cursor: pointer;
  height: 70vh;
  width: 80vw;
  margin-inline: auto;

  /* padding: calc(var(--golden-ratio) * 1em); */
}
.card > div {
  position: relative;
}
.card img {
  width: 100%;
}

@media (min-width: 768px) {
  .cards-container {
    justify-content: center;
    gap: 0;
    padding: calc(var(--golden-ratio) * 2em);
  }
  .cards-container > div {
    flex: 1;
    height: min-content;
  }
  .card {
    flex-direction: column-reverse;
    height: auto;
    width: auto;
  }
  .card img {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .cards-container {
    padding: calc(var(--golden-ratio) * 4em);
  }
}
@media (min-width: 1460px) {
}
