#navbar-logo {
  width: calc(var(--golden-ratio) * 1.1em);
  height: calc(var(--golden-ratio) * 1.1em);
  max-width: calc(var(--golden-ratio) * 50px);
  max-height: calc(var(--golden-ratio) * 50px);
}

.navbar-top {
  position: fixed;
  left: 0;
  right: 0;
  font-size: min(
    calc(var(--golden-ratio) * 2em),
    calc(var(--golden-ratio) * 16px)
  );
  height: 100%;
  max-height: calc((var(--golden-ratio) * 3em));
  max-width: calc(100vw - (var(--golden-ratio) * 4em));
  margin-inline: auto;
  padding-top: calc(var(--golden-ratio) * 0.55em);
  /* padding-inline: calc(var(--golden-ratio) * 1.5em); */
  /* padding-block: calc(var(--golden-ratio) * 1.3em); */
  z-index: 40;
  user-select: none;

  transition: all 0.1s ease-in;
}
.navbar-top-border {
  --top: 0;
  top: var(--top);

  transition: transform 0.1s ease-out;
}

.navbar-contracted #navbar-home h5 {
  opacity: 0;
}
.navbar-contracted ~ .navbar-top-border {
  transform: translateY(-55px);
}

.nav-anchor {
  all: unset;
  cursor: pointer;
  color: var(--on-bg-light);
  font-size: max(calc(var(--golden-ratio) * 0.4em), 14px);

  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
  margin-inline: calc(var(--golden-ratio) * 0.8em);

  transition: margin 0.1s ease-in, color 0.1s ease-out;
}
.nav-anchor:hover {
  color: var(--on-bg);
}
.nav-anchor.active {
  color: var(--on-bg);
  opacity: 1;
}

#navbar-home {
  gap: calc(var(--golden-ratio) * 0.4em);
  text-decoration: none;
}
#navbar-home h5 {
  font-size: calc(var(--golden-ratio) * 0.45em);
  letter-spacing: unset;

  transition: opacity 0.15s ease-out;
}

.nav-container {
  /* gap: calc(var(--golden-ratio) * 1.6em); */
}

.nav-container-right {
  position: relative;
  padding: calc(var(--golden-ratio) * 0.3em);
  padding-bottom: calc(var(--golden-ratio) * 0.26em);
  display: none;
}

.nav-container-right:hover .nav-anchor-highlighter {
  opacity: 1;
}

.nav-anchor-highlighter {
  /* Center and place the highlighter element relative to the text */

  --anchor-left: 0;
  --anchor-width: 0;
  /* make the width of the highlighter slightly larger than the anchor element, simulating padding */
  --highlighter-width: 0;
  /* calc difference between the anchor element's width and highlighter-width,
  and divide by 2 to get half of the difference */
  --difference: calc((var(--anchor-width) - var(--highlighter-width)) / 2);

  /* anchor-left - difference gives us the offset to anchor-left needed to position the highlighter at the center of the anchor element */
  left: calc(var(--anchor-left) + var(--difference));
  width: var(--highlighter-width);

  content: ' ';
  z-index: -1;
  height: 80%;
  background-color: var(--primary);
  position: absolute;
  top: 12%;
  pointer-events: none;
  border-radius: calc(var(--golden-ratio) * 0.1em);

  opacity: 0;
  transition: opacity 0.1s ease-in-out, left 0.1s ease-in-out,
    transform 0.2s ease-out;
}
.motion-blur {
  filter: blur(3px);
}

#borger {
  height: min-content;
  width: min-content;
}
#borger-icon {
  font-size: calc(var(--golden-ratio) * 1em);
  margin: auto;
  text-align: center;
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .navbar-contracted {
    max-height: 80px;
    opacity: 0.9;
    transform: scale(0.94);
  }
  .navbar-top-border {
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--surface);
    content: ' ';
    width: 100vw;
    height: 1px;
  }

  .nav-container-right {
    display: flex;
  }
  #borger {
    display: none;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
