#navbar-logo {
  width: calc(var(--golden-ratio) * 1.2em);
  height: calc(var(--golden-ratio) * 1.2em);
  max-width: calc(var(--golden-ratio) * 50px);
  max-height: calc(var(--golden-ratio) * 50px);
}

.navbar-top {
  position: fixed;
  left: 0;
  right: 0;
  font-size: min(
    calc(var(--golden-ratio) * 2em),
    calc(var(--golden-ratio) * 16px)
  );
  padding-inline: calc(var(--golden-ratio) * 1.5em);
  padding-block: calc(var(--golden-ratio) * 1.3em);
  z-index: 40;
}

.nav-anchor {
  all: unset;
  cursor: pointer;
  color: var(--on-bg-light);
  font-size: max(calc(var(--golden-ratio) * 0.4em), 14px);

  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.11em;
  text-transform: uppercase;

  transition: color 0.1s ease-out;
}
.nav-anchor:hover {
  color: var(--on-bg);
}

#navbar-home {
  gap: calc(var(--golden-ratio) * 0.4em);
  text-decoration: none;
}
#navbar-home h4 {
  font-size: calc(var(--golden-ratio) * 0.45em);
  letter-spacing: unset;
}

.nav-container {
  gap: calc(var(--golden-ratio) * 1.6em);
}

.nav-container-right {
  position: relative;
  padding: calc(var(--golden-ratio) * 0.3em);
  padding-bottom: calc(var(--golden-ratio) * 0.26em);
  display: none;
}

.nav-container-right:hover .nav-anchor-highlighter {
  opacity: 1;
}

.nav-anchor-highlighter {
  /* Center and place the highlighter element relative to the text */

  --anchor-left: 0;
  --anchor-width: 0;
  /* make the width of the highlighter slightly larger than the anchor element, simulating padding */
  --highlighter-width: 0;
  /* calc difference between the anchor element's width and highlighter-width,
  and divide by 2 to get half of the difference */
  --difference: calc((var(--anchor-width) - var(--highlighter-width)) / 2);

  /* anchor-left - difference gives us the offset to anchor-left needed to position the highlighter at the center of the anchor element */
  left: calc(var(--anchor-left) + var(--difference));
  width: var(--highlighter-width);

  content: ' ';
  z-index: -1;
  height: 100%;
  background-color: var(--primary);
  position: absolute;
  top: 0;
  pointer-events: none;
  border-radius: calc(var(--golden-ratio) * 0.1em);

  opacity: 0;
  transition: opacity 0.1s ease-in-out, left 0.1s ease-in-out;
}

#borger {
  height: min-content;
  width: min-content;
}
#borger-icon {
  font-size: calc(var(--golden-ratio) * 1em);
  margin: auto;
  text-align: center;
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
  .navbar-top {
    padding-inline: calc(var(--golden-ratio) * 4em);
    padding-top: calc(var(--golden-ratio) * 2em);
    padding-bottom: calc(var(--golden-ratio) * 0.8em);
  }
  .navbar-top-border {
    position: fixed;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--surface);
    content: ' ';
    width: 100vw;
    height: 1px;
  }

  .nav-container-right {
    display: flex;
  }
  #borger {
    display: none;
  }
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
