#background-overlay {
  all: unset !important;
}
#background-overlay:before {
  all: unset !important;
}
#background-overlay:after {
  all: unset !important;
}

/* TODO: make a scrollbar that goes with a black background */
::-webkit-scrollbar {
  display: none;
}

section {
}

@media (min-width: 428px) {
  section {
  }
}

@media (min-width: 724px) {
  section {
    background-position-y: 0;
    background-size: 100% 100%;
  }
}
@media (min-width: 768px) {
  section {
    background: radial-gradient(
      at center top,
      var(--surface) 10%,
      var(--bg) 100%
    );
  }
}
@media (min-width: 1024px) {
  section {
    background-attachment: fixed;
    overscroll-behavior: none;
    background: radial-gradient(
      at center top,
      var(--surface) 10%,
      var(--bg) 100%
    );
  }
}
