section.container {
  overflow-y: hidden;
  --navbar-height: 127px;
  /* position: relative; */
  /* max-height: calc(100vh - (var(--navbar-height) + var(--golden-ratio) * 3em)); */
  padding: calc(var(--golden-ratio) * 1.5em);
  /* padding-top: calc(var(--navbar-height) + var(--golden-ratio) * 4em); */
  /* min-height: 100vh; */
  /* max-height: calc(100vh - (var(--navbar-height) + var(--golden-ratio) * 3em)); */
  /* width: 100%; */
  /* padding-inline: calc(var(--golden-ratio) * 1em); */
}

hr {
  opacity: 0;
  border: 1px solid var(--outline);
  width: 100%;
}

.tags-and-result-count-container {
  min-height: calc(var(--golden-ratio) * 1.4em);
  gap: calc(var(--golden-ratio) * 0.5em);
  padding: calc(var(--golden-ratio) * 0.2em);
}
.tags-container {
  gap: calc(var(--golden-ratio) * 0.6em);
  flex-wrap: wrap;
}
.results-count {
  text-transform: uppercase;
  font-size: calc(var(--golden-ratio) * 0.4em);
  color: var(--on-bg-lightest);
}

.cars-container::-webkit-scrollbar {
  display: none;
}
.cars-container {
  border-radius: calc(var(--golden-ratio) * 0.05em);
  padding-top: calc(var(--golden-ratio) * 2em);
  height: calc(100vh - (var(--navbar-height) + var(--golden-ratio) * 2em));
  width: 100%;
}
.car-container {
  overflow: visible;
  width: 100%;
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  section.container {
    padding-inline: calc(var(--golden-ratio) * 5em);
    /* padding-inline: 16vw; */
  }
}

@media (min-width: 1280px) {
}
