---
import type { DocumentData } from 'firebase/firestore';
import { getAppraisals } from '../api';

const appraisals = await getAppraisals();
---

{appraisals?.map((appraisal: DocumentData | undefined)=>{
    return (
        <div>{appraisal?.registrationNumber}</div>
    )
})}