---
import ThreeDeeModel from '../components/ThreeDeeModel.jsx';
import CTA from './CTA';
import './styles/hero.css';
import './styles/inne-just-nu.css';
---

<div class="hero-container flex flex-col items-center">
    <header class="hero-header">
      <div>
        <h1 class="title">
          Era bilar,<br />
          <span style="white-space: nowrap">er marknadsplats</span>
        </h1>
        
        <h3 class="subtitle">Köp - Sälj - Byt</h3>
      </div>
    </header>
    <CTA client:load/>
    <div id="model-container">
      <ThreeDeeModel client:only/>
    </div>
</div>
  