---
import CTA from './CTA';
import ModelContainer from './Model-container.astro';
import { ScrollTransitionWrapper } from './MotionComponents';
import './styles/hero.css';
import './styles/inne-just-nu.css';
---

<section class="relative flex flex-col items-center h-screen hero-container">
    <header class="hero-header">
      <div>
        <ScrollTransitionWrapper client:only xRate={0.6} opacityRate={0.1} xDistance={-300}>
          <h2 slot="child" class='subtitle'>Köp - Sälj - Byt</h2>
        </ScrollTransitionWrapper>

        <ScrollTransitionWrapper client:only xRate={0.4} opacityRate={0.1} xDistance={-500}>
          <h1 slot="child" class="title">
            Era bilar,<br />
            <span style="white-space: nowrap">er marknadsplats</span>
          </h1>
        </ScrollTransitionWrapper>
      </div>
    </header>
    <ScrollTransitionWrapper client:only xRate={0.1} opacityRate={0.075} xDistance={-1000}>
      <CTA slot="child" client:load/>
    </ScrollTransitionWrapper>
    <ModelContainer />
</section>
  