---
import Card from './Card';
import FrontPageCars from './FrontPageCars';

---

<section>
  <div class="inne-just-nu relative h-[300vh] w-screen text-center">
    <div class="bg-bg absolute w-full h-full -z-[1]"></div>
    <div class="sticky top-0 h-screen pt-[calc(var(--golden-ratio)*6em)]">
      <div class="flex flex-col h-full justify-evenly">
        <h3>Inne just nu</h3>
        
        
            <FrontPageCars client:only/>
        

        <div class="flex justify-center my-auto pb-32 pt-14 z-40">
          <a href="/showroom" class="active:opacity-60 font-light backdrop-blur-xl shadow-inner rounded-xl z-40 flex flex-row pointer-events-auto items-center gap-4 outline outline-on-bg-light text-on-bg-light hover:outline-on-bg hover:text-on-bg p-4 outline-1 pl-8">Visa alla <div class="material-symbols-sharp">
            chevron_right
            </div></a>
        </div>
        
      </div>
    </div>
  </div>
</section>
