---
import FrontPageCars from './FrontPageCars';
import ShowAllButton from './ShowAllButton';

---

<section>
  <div class="inne-just-nu relative h-[calc(100vw*10)] w-screen text-center">
    <div class="bg-bg absolute w-full h-full -z-[1]"></div>
    <div class="sticky top-0 h-screen pt-[calc(var(--golden-ratio)*6em)]">
      <div class="flex flex-col h-full justify-evenly">
        <h3>Inne just nu</h3>
            <FrontPageCars client:only/>
        <div class="z-40 flex justify-center pb-32 my-auto pt-14">
          <ShowAllButton client:idle/>
        </div>
      </div>
    </div>
  </div>
</section>
