* {
  /* outline: 1px solid red; */
}

section.container {
  padding: calc(var(--golden-ratio) * 1.5em);
  /* width: 100%; */
  /* padding-inline: calc(var(--golden-ratio) * 1em); */
}

.filter-container {
  width: 100%;
}

.buttons-container {
  gap: calc(var(--golden-ratio) * 0.5em);
  padding-bottom: calc(var(--golden-ratio) * 2em);
  height: calc(var(--golden-ratio) * 1.2em);
}

hr {
  border: 1px solid var(--outline);
  width: 100%;
}

.tags-and-result-count-container {
  gap: calc(var(--golden-ratio) * 0.5em);
}
.tags-container {
  gap: calc(var(--golden-ratio) * 0.3em);
  flex-wrap: wrap;
}
.results-count {
  text-transform: uppercase;
  font-size: calc(var(--golden-ratio) * 0.4em);
}

.cars-container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: calc(var(--golden-ratio) * 1em);
  padding-block: calc(var(--golden-ratio) * 1em);
}

@media (min-width: 768px) {
  section.container {
    padding-inline: calc(var(--golden-ratio) * 5em);
  }
  .card-container {
    /* 2/4 minus .cars-container gap */
    width: calc(50% - (var(--golden-ratio) * 1em));
  }
}

@media (min-width: 1024px) {
  section.container {
    padding-inline: 16vw;
  }
  .card-container {
    /* 1/4 minus .cars-container gap */
    width: calc(25% - (var(--golden-ratio) * 1em));
  }
}
