* {
  /* outline: 1px solid red; */
}

section.container {
  padding: calc(var(--golden-ratio) * 1.5em);
  /* width: 100%; */
  /* padding-inline: calc(var(--golden-ratio) * 1em); */
}

.buttons-container {
  gap: calc(var(--golden-ratio) * 0.5em);
}

.cars-container {
  flex-wrap: wrap;
  /* gap: calc(var(--golden-ratio) * 1em); */
}
