---
import "../../global.css";

// import { ViewTransitions } from 'astro:transitions';
import Navbar from '../components/Navbar.astro';
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <ViewTransitions /> -->
        <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"/>
        <GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        
	</head>
	<body>
		<div id="background-overlay"></div>
		<Navbar/>
		<main id="app">
			<slot/>
		</main>
	</body>
</html>