---
import UpsertCarForm from '../../components/UpsertCarForm';
import Layout from '../../layouts/Layout.astro';


---

<Layout>
    <div class="p-20 pt-40 m-auto">

        <UpsertCarForm client:only/>

        <Appraisals />
    </div>
</Layout>